.contact-info {
  text-align: left;
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.edit-contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    display: inline;
    text-align: left;
  }
}
